<div *ngIf="!(this.authService.loggedIn | async);">
  <h2>Login</h2>
  <form (submit)="login(loginForm.value)" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" ngModel>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password" name="password" ngModel>
    </div>
    <button class="btn btn-primary" type="submit">Click to Login</button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </form>
</div>
<!--<ng-template #func>-->
  <!--<h2>APIs</h2>-->
  <!--<button class="btn btn-primary" type="button" (click)="getProducts()">Products</button>-->
  <!--<button class="btn btn-primary" type="button" (click)="getOrders()">Orders</button>-->
  <!--<button class="btn btn-primary" type="button" (click)="getUsers()">Users</button>-->
  <!--<p>Response: {{ response | json }}</p>-->
<!--</ng-template>-->
